{% extends "base.html" %}
{% load static %}
{% block title %} lobby {% endblock %}

{% block content %}

    <h1><span style=" background-color: #FFFF00">Welcome {{username}}, you have {{coins}} coins</span></h1>

<h1 align="center">
    <a href="{% url 'shop' %}"><button>Buy tokens</button></a>
    <a href="{% url 'startGame' %}"><button>Create a game</button></a>
    <a href="{% url 'stats' %}"><button>View player stats</button></a>
    <a href="{% url 'hallOfFame' %}"><button>View Hall OF Fame</button></a>
    <form action="lookUpPlayer" method="post">
    {% csrf_token %}
    <input type="text" name="username">
    <input type="submit" value="Look Up Player">
    </form>
</h1>
<p>
    <hr>
    <h1>Join a game:</h1>
    <ul>
        {% for game in games.all %}
            {% if game.status == "open" %}
            <li>
                <a href="{% url 'joinGame' game.id %}">
                    {{ game.ownerName }} V ? ( {{game.betAmount}} )
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</p>
<hr>
{% endblock %}